USE [master]
GO
/****** Object:  Database [Tienda]    Script Date: 12/05/2022 04:44:04 p. m. ******/
CREATE DATABASE [Tienda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Tienda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Tienda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Tienda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Tienda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Tienda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Tienda]
GO
/****** Object:  User [DESKTOP-5391T0I\HP]    Script Date: 12/05/2022 04:44:04 p. m. ******/
CREATE USER [DESKTOP-5391T0I\HP] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [DESKTOP-5391T0I\HP]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [DESKTOP-5391T0I\HP]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [DESKTOP-5391T0I\HP]
GO
ALTER ROLE [db_ddladmin] ADD MEMBER [DESKTOP-5391T0I\HP]
GO
ALTER ROLE [db_backupoperator] ADD MEMBER [DESKTOP-5391T0I\HP]
GO
ALTER ROLE [db_datareader] ADD MEMBER [DESKTOP-5391T0I\HP]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [DESKTOP-5391T0I\HP]
GO
ALTER ROLE [db_denydatareader] ADD MEMBER [DESKTOP-5391T0I\HP]
GO
ALTER ROLE [db_denydatawriter] ADD MEMBER [DESKTOP-5391T0I\HP]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 12/05/2022 04:44:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[ID_CATEGORIA] [smallint] NOT NULL,
	[NOMBRE] [varchar](20) NULL,
	[DESCRIPCION] [varchar](50) NULL,
 CONSTRAINT [PK_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 12/05/2022 04:44:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[ID_CLIENTE] [int] NOT NULL,
	[NOMBRE] [varchar](30) NULL,
	[APELLIDO_P] [varchar](30) NULL,
	[APELLIDO_M] [varchar](30) NULL,
	[RFC] [varchar](20) NULL,
	[CALLE] [varchar](30) NULL,
	[NUM_CASA] [numeric](5, 0) NULL,
	[CP] [numeric](5, 0) NULL,
	[COLONIA] [varchar](30) NULL,
	[MUNICIPIO] [varchar](30) NULL,
	[ESTADO] [varchar](30) NULL,
	[PAIS] [varchar](30) NULL,
	[CELULAR] [numeric](10, 0) NULL,
	[EMAIL] [varchar](255) NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[ID_CLIENTE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRA]    Script Date: 12/05/2022 04:44:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA](
	[ID_COMPRA] [smallint] NOT NULL,
	[ID_USUARIO] [smallint] NULL,
	[ID_PROVEEDOR] [smallint] NULL,
	[COMPRA_TOT] [float] NULL,
	[NUMFACT] [int] NULL,
	[CANTIDAD_TOT] [float] NULL,
	[FECHA] [date] NULL,
 CONSTRAINT [PK_COMPRA] PRIMARY KEY CLUSTERED 
(
	[ID_COMPRA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONCEPT_COMPRA]    Script Date: 12/05/2022 04:44:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONCEPT_COMPRA](
	[ID_COMPRA] [smallint] NULL,
	[ID_PRODUCTO] [int] NULL,
	[CANTIDAD] [int] NULL,
	[PRECIO] [float] NULL,
	[IMPORTE] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONCEPT_VENTA]    Script Date: 12/05/2022 04:44:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONCEPT_VENTA](
	[ID_VENTA] [smallint] NULL,
	[ID_PRODUCTO] [int] NULL,
	[CANTIDAD] [int] NULL,
	[PRECIO] [float] NULL,
	[IMPORTE] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 12/05/2022 04:44:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[ID_PRODUCTO] [int] NOT NULL,
	[ID_CATEGORIA] [smallint] NOT NULL,
	[NOMBRE] [varchar](50) NULL,
	[PRECIO] [money] NULL,
	[CANTIDAD] [int] NULL,
	[STOCK] [int] NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 12/05/2022 04:44:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[ID_PROVEEDOR] [smallint] NOT NULL,
	[NOMBRE_EMP] [varchar](50) NULL,
	[RFC] [varchar](20) NULL,
	[CALLE] [varchar](30) NULL,
	[NUMERO] [varchar](50) NULL,
	[COLONIA] [varchar](30) NULL,
	[MUNICIPIO] [varchar](30) NULL,
	[CIUDAD] [varchar](30) NULL,
	[PAIS] [varchar](30) NULL,
	[CP] [varchar](50) NULL,
	[EMAIL_EMP] [varchar](255) NULL,
	[TELEFONO_EMP] [varchar](10) NULL,
	[RAZON_SOCIAL] [varchar](15) NULL,
	[NOMBRE_CONT] [varchar](50) NULL,
	[TELEFONO_CONT] [varchar](10) NULL,
	[APELLIDO_P] [varchar](30) NULL,
	[APELLIDO_M] [varchar](30) NULL,
	[EMAIL_CONT] [varchar](255) NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 12/05/2022 04:44:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIO](
	[ID_USUARIO] [smallint] NOT NULL,
	[ROL] [bit] NOT NULL,
	[NOMBRE] [varchar](30) NULL,
	[APELLIDO_P] [varchar](30) NULL,
	[APELLIDO_M] [varchar](30) NULL,
	[RFC] [varchar](20) NULL,
	[CALLE] [varchar](30) NULL,
	[COLONIA] [varchar](30) NULL,
	[CIUDAD] [varchar](30) NULL,
	[MUNICIPIO] [varchar](30) NULL,
	[PAIS] [varchar](30) NULL,
	[CELULAR] [varchar](10) NULL,
	[CP] [varchar](5) NULL,
	[EMAIL] [varchar](255) NULL,
	[LOGIN] [varchar](15) NULL,
	[PASSWORD] [varchar](50) NULL,
 CONSTRAINT [PK_USUARIO] PRIMARY KEY CLUSTERED 
(
	[ID_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 12/05/2022 04:44:04 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[ID_VENTA] [smallint] NOT NULL,
	[ID_USUARIO] [smallint] NULL,
	[ID_CLIENTE] [int] NULL,
	[COSTO_TOT] [float] NULL,
	[CANTIDAD_TOT] [float] NULL,
	[FECHA] [date] NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[ID_VENTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION]) VALUES (0, N'Vitaminas', N'')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION]) VALUES (1, N'Proteinas', N'')
INSERT [dbo].[CATEGORIA] ([ID_CATEGORIA], [NOMBRE], [DESCRIPCION]) VALUES (2, N'Aminoacidos', N'')
GO
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOMBRE], [APELLIDO_P], [APELLIDO_M], [RFC], [CALLE], [NUM_CASA], [CP], [COLONIA], [MUNICIPIO], [ESTADO], [PAIS], [CELULAR], [EMAIL]) VALUES (0, N'Andres Manuel', N'Lopez', N'Obrador', N'LOOA531113FI5
', N'Aquiles serdan', CAST(621 AS Numeric(5, 0)), CAST(25290 AS Numeric(5, 0)), N'Centro', N'Los Mochis', N'Sinaloa', N'México', CAST(6433874919 AS Numeric(10, 0)), N'amlo@hotmail.com')
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOMBRE], [APELLIDO_P], [APELLIDO_M], [RFC], [CALLE], [NUM_CASA], [CP], [COLONIA], [MUNICIPIO], [ESTADO], [PAIS], [CELULAR], [EMAIL]) VALUES (1, N'Jose', N'Porfirio', N'Díaz', N'PODJ928393A29', N'Abasolo e/ Colosio', CAST(2502 AS Numeric(5, 0)), CAST(24030 AS Numeric(5, 0)), N'El Manglito', N'La Merced', N'Hidalgo', N'México', CAST(6818349301 AS Numeric(10, 0)), N'dictador@gmail.com')
INSERT [dbo].[CLIENTE] ([ID_CLIENTE], [NOMBRE], [APELLIDO_P], [APELLIDO_M], [RFC], [CALLE], [NUM_CASA], [CP], [COLONIA], [MUNICIPIO], [ESTADO], [PAIS], [CELULAR], [EMAIL]) VALUES (2, N'Jose Maria', N'Morelos', N'Pavón', N'MOPJ832391Q18', N'Presidente e/ Constitucion', CAST(125 AS Numeric(5, 0)), CAST(27810 AS Numeric(5, 0)), N'El Panteon', N'Forjadores', N'Veracruz', N'México', CAST(6129593024 AS Numeric(10, 0)), N'elde50@hotmail.com')
GO
INSERT [dbo].[COMPRA] ([ID_COMPRA], [ID_USUARIO], [ID_PROVEEDOR], [COMPRA_TOT], [NUMFACT], [CANTIDAD_TOT], [FECHA]) VALUES (0, 2, 0, 30000, 1, 400, CAST(N'2022-03-18' AS Date))
INSERT [dbo].[COMPRA] ([ID_COMPRA], [ID_USUARIO], [ID_PROVEEDOR], [COMPRA_TOT], [NUMFACT], [CANTIDAD_TOT], [FECHA]) VALUES (1, 2, 0, 8800, 2, 22, CAST(N'2022-03-18' AS Date))
INSERT [dbo].[COMPRA] ([ID_COMPRA], [ID_USUARIO], [ID_PROVEEDOR], [COMPRA_TOT], [NUMFACT], [CANTIDAD_TOT], [FECHA]) VALUES (2, 2, 0, 6000, 2, 20, CAST(N'2022-03-18' AS Date))
GO
INSERT [dbo].[CONCEPT_COMPRA] ([ID_COMPRA], [ID_PRODUCTO], [CANTIDAD], [PRECIO], [IMPORTE]) VALUES (0, 0, 400, 75, 30000)
INSERT [dbo].[CONCEPT_COMPRA] ([ID_COMPRA], [ID_PRODUCTO], [CANTIDAD], [PRECIO], [IMPORTE]) VALUES (1, 1, 22, 400, 8800)
INSERT [dbo].[CONCEPT_COMPRA] ([ID_COMPRA], [ID_PRODUCTO], [CANTIDAD], [PRECIO], [IMPORTE]) VALUES (2, 2, 20, 300, 6000)
GO
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [ID_CATEGORIA], [NOMBRE], [PRECIO], [CANTIDAD], [STOCK]) VALUES (0, 1, N'Nitro tech cookies n cream 5lb', 999.0000, 40, 360)
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [ID_CATEGORIA], [NOMBRE], [PRECIO], [CANTIDAD], [STOCK]) VALUES (1, 1, N'GNC Total Lean 4lb', 200.0000, 8, 14)
INSERT [dbo].[PRODUCTO] ([ID_PRODUCTO], [ID_CATEGORIA], [NOMBRE], [PRECIO], [CANTIDAD], [STOCK]) VALUES (2, 1, N'Gold standard whey 5lb', 350.0000, 8, 12)
GO
INSERT [dbo].[PROVEEDOR] ([ID_PROVEEDOR], [NOMBRE_EMP], [RFC], [CALLE], [NUMERO], [COLONIA], [MUNICIPIO], [CIUDAD], [PAIS], [CP], [EMAIL_EMP], [TELEFONO_EMP], [RAZON_SOCIAL], [NOMBRE_CONT], [TELEFONO_CONT], [APELLIDO_P], [APELLIDO_M], [EMAIL_CONT]) VALUES (0, N'Lilo', N'LIYS82828391K92', N'Veracruz y 16 de Setiembre', N'24940', N'Olachea', N'La Paz', N'La Paz', N'México', N'23200', N'liloystich@disney.com', N'6125981002', N'Mayoreo', N'Juan ', N'6129591240', N'Perez', N'Lopez', N'juan@hotmail.com')
INSERT [dbo].[PROVEEDOR] ([ID_PROVEEDOR], [NOMBRE_EMP], [RFC], [CALLE], [NUMERO], [COLONIA], [MUNICIPIO], [CIUDAD], [PAIS], [CP], [EMAIL_EMP], [TELEFONO_EMP], [RAZON_SOCIAL], [NOMBRE_CONT], [TELEFONO_CONT], [APELLIDO_P], [APELLIDO_M], [EMAIL_CONT]) VALUES (1, N'Crustaceo', N'CACR481929X12', N'Forjadores de Sudcalifornia', N'23900', N'Paseo', N'La Paz', N'La Paz', N'México', N'23410', N'kaskarudo@hotmail.com', N'6124849920', N'Mayoreo', N'Bob', N'6129393801', N'Pantalones', N'Cuadrados', N'bob@gmail.com')
INSERT [dbo].[PROVEEDOR] ([ID_PROVEEDOR], [NOMBRE_EMP], [RFC], [CALLE], [NUMERO], [COLONIA], [MUNICIPIO], [CIUDAD], [PAIS], [CP], [EMAIL_EMP], [TELEFONO_EMP], [RAZON_SOCIAL], [NOMBRE_CONT], [TELEFONO_CONT], [APELLIDO_P], [APELLIDO_M], [EMAIL_CONT]) VALUES (2, N'Mamex', N'MDIE2923488S22', N'Aquiles Serdan e/ Reforma', N'1080', N'Centro', N'La Paz', N'La Paz', N'México', N'23140', N'mamex@hotmail.com', N'6123839943', N'Servicios', N'Alfonso', N'6244829932', N'Gutierrez', N'Lopez', N'andromeda@hotmail.com')
GO
INSERT [dbo].[USUARIO] ([ID_USUARIO], [ROL], [NOMBRE], [APELLIDO_P], [APELLIDO_M], [RFC], [CALLE], [COLONIA], [CIUDAD], [MUNICIPIO], [PAIS], [CELULAR], [CP], [EMAIL], [LOGIN], [PASSWORD]) VALUES (0, 0, N'Carlos', N'Salinas', N'De Gortari', N'SAGC4357192A29', N'Viento e/ Sol', N'Centro', N'Queretaro', N'Soliralidad', N'México', N'6383928041', N'28035', N'orejon@gmail.com', N'carlos12', N'97b8d3fe7feed8f85fad8e3d449c698a')
INSERT [dbo].[USUARIO] ([ID_USUARIO], [ROL], [NOMBRE], [APELLIDO_P], [APELLIDO_M], [RFC], [CALLE], [COLONIA], [CIUDAD], [MUNICIPIO], [PAIS], [CELULAR], [CP], [EMAIL], [LOGIN], [PASSWORD]) VALUES (1, 0, N'Juana Ines', N'Ramirez', N'De Santillana', N'RASJ83271853L31', N'Mar e/ Primavera', N'Sorjuanes', N'Central', N'Las Arboledas', N'México', N'6183018395', N'28930', N'lade200@gmail.com', N'sor154', N'7513204e0b68ade30b8cbef6c2cd19f4')
INSERT [dbo].[USUARIO] ([ID_USUARIO], [ROL], [NOMBRE], [APELLIDO_P], [APELLIDO_M], [RFC], [CALLE], [COLONIA], [CIUDAD], [MUNICIPIO], [PAIS], [CELULAR], [CP], [EMAIL], [LOGIN], [PASSWORD]) VALUES (2, 1, N'Miguel ', N'Hidalgo', N'Costilla', N'HICM5193849L03', N'Independencia y Mexico', N'Centro', N'CDMX', N'Fundadores', N'México', N'6124848100', N'26020', N'elde1000@gmail.com', N'miguel24', N'413d54bb7b3d8ba492e1b102a25aab57')
GO
INSERT [dbo].[VENTA] ([ID_VENTA], [ID_USUARIO], [ID_CLIENTE], [COSTO_TOT], [CANTIDAD_TOT], [FECHA]) VALUES (0, 1, 0, 3200, 4, CAST(N'2022-03-21' AS Date))
INSERT [dbo].[VENTA] ([ID_VENTA], [ID_USUARIO], [ID_CLIENTE], [COSTO_TOT], [CANTIDAD_TOT], [FECHA]) VALUES (1, 1, 1, 340, 1, CAST(N'2022-03-21' AS Date))
INSERT [dbo].[VENTA] ([ID_VENTA], [ID_USUARIO], [ID_CLIENTE], [COSTO_TOT], [CANTIDAD_TOT], [FECHA]) VALUES (2, 0, 2, 700, 1, CAST(N'2022-03-21' AS Date))
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_PROVEEDOR] FOREIGN KEY([ID_PROVEEDOR])
REFERENCES [dbo].[PROVEEDOR] ([ID_PROVEEDOR])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_COMPRA_PROVEEDOR]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_Compra_Usuario] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_Compra_Usuario]
GO
ALTER TABLE [dbo].[CONCEPT_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_CONCEPT_COMPRA_COMPRA] FOREIGN KEY([ID_COMPRA])
REFERENCES [dbo].[COMPRA] ([ID_COMPRA])
GO
ALTER TABLE [dbo].[CONCEPT_COMPRA] CHECK CONSTRAINT [FK_CONCEPT_COMPRA_COMPRA]
GO
ALTER TABLE [dbo].[CONCEPT_COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_CONCEPT_COMPRA_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[CONCEPT_COMPRA] CHECK CONSTRAINT [FK_CONCEPT_COMPRA_PRODUCTO]
GO
ALTER TABLE [dbo].[CONCEPT_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_CONCEPT_VENTA_PRODUCTO] FOREIGN KEY([ID_PRODUCTO])
REFERENCES [dbo].[PRODUCTO] ([ID_PRODUCTO])
GO
ALTER TABLE [dbo].[CONCEPT_VENTA] CHECK CONSTRAINT [FK_CONCEPT_VENTA_PRODUCTO]
GO
ALTER TABLE [dbo].[CONCEPT_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_CONCEPT_VENTA_VENTA] FOREIGN KEY([ID_VENTA])
REFERENCES [dbo].[VENTA] ([ID_VENTA])
GO
ALTER TABLE [dbo].[CONCEPT_VENTA] CHECK CONSTRAINT [FK_CONCEPT_VENTA_VENTA]
GO
ALTER TABLE [dbo].[PRODUCTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_CATEGORIA] FOREIGN KEY([ID_CATEGORIA])
REFERENCES [dbo].[CATEGORIA] ([ID_CATEGORIA])
GO
ALTER TABLE [dbo].[PRODUCTO] CHECK CONSTRAINT [FK_PRODUCTO_CATEGORIA]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Usuario] FOREIGN KEY([ID_USUARIO])
REFERENCES [dbo].[USUARIO] ([ID_USUARIO])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_Venta_Usuario]
GO
USE [master]
GO
